@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Plus Jakarta Sans;
        font-weight: 200 800;
        font-display: swap;
        src: url(./assets/PlusJakartaSans-VariableFont_wght.ttf);
    }

}

@layer components{
    .activeMobileSidebar{
        @apply !visible !top-16
    }
    .showSidebar{
        @apply !-left-0 !visible
     }
}

@layer utilities {
    .activeSwitch::after{
            @apply !left-[1.65rem]
        }
}