@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Plus Jakarta Sans;
        font-weight: 200 800;
        font-display: swap;
        src: url(./assets/PlusJakartaSans-VariableFont_wght.ttf);
    }

}

@layer utilities {
    .activeSwitch::after{
            @apply !left-[1.6rem]
        }
}